@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --color-primary: #800080;
  --color-secondary: #ffffff;
  --font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  margin-top: 40px;
  margin-bottom: 40px;
}

h2 {
  color: var(--color-primary);
  font-family: "Times New Roman", Times, serif;
}

.ok {
  color: green;
}

.link {
  color: var(--color-primary);
}

.warning {
  color: yellow;
}

.error {
  color: red;
}

.footer {
  background-color: var(--color-primary);
}

img {
  max-width: 600px;
}

form {
  background-color: antiquewhite;
  text-align: center;
  max-width: 600px;
  border-radius: 20px;
  padding: 20px;

  margin: auto;
}

input {
  margin-bottom: 20px;
}

h1,
#top {
  text-align: center;
}

.content {
  background-color: antiquewhite;
  max-width: 600px;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footer-links a:hover {
  color: pink;
}

.heading {
  position: relative;
  text-align: center;
}

.heading::after {
  content: "";
  position: absolute;
  border: 2px solid blue;
  width: 100px;
  top: 100%;
}

@media (max-width: 700px) {
  body {
    background-color: lightblue;
  }
}

@media (min-width: 1024px) {
  .article {
    display: flex;
  }
}

.button {
  display: inline-block;
  padding: 14px 15px;
  border-radius: 5px;
  border: 2px solid var(--color-primary);
  transition: all 0.4s ease;
  cursor: pointer;
}

.button:hover {
  text-decoration: none;
}

.button-secondary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.button-secondary:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.project-article p {
  margin-bottom: 30px;
}
